*.pyc
extension_ws/
*.code-workspace

.claude/
.cursor
*dpo_experiment
sample*
.vscode
.datasets/

*/.agents/

rlvr/configs/autoresearch/
CLAUDE.md
program.md
ros_scripts/convert_all_v4.sh
.claude/
CLAUDE.md
memory/
wandb/

.vscode/
*.egg-info
